# PART 1

# 1-Defining a Variable

In [ ]:
x=
y=

In [ ]:
print (x > y)

### Variables

A variable can have any name as long as it follows the rules. Be creative but 

try to be as precise as possible! When naming things, please stick to these guidelines:

\- Only use letters

\- Write everything in lowercase

\- Separate words with the underscore character `_`

In [ ]:
# Can I have numbers in a variable name?

In [ ]:
89_hilal = 3

In [ ]:
hilal_89 = 2

In [ ]:
type(hilal_89)

# 2-Integer, String, Float and Boolean

- Int: a whole number (... -2, -1, 0, 1, 2â€¦)
- Float: the real numbers, number with decimals
- String: text values
- Boolean: used to represent the truth value of an expression

In [ ]:
d =

In [ ]:
type()

In [ ]:
e= False

In [ ]:
type()

# PART 2

# 1- Defining strings

In [ ]:
#method 1: single quotes and f string

name = 'SRH'

print(f"name: {name}")

In [ ]:
### f string

In [1]:
name = 'Hilal'
number = 35

print(f'Hello {name}')
print(f'Result: {number}')
print(f'Hi {name}, you are {number} years old!')

Hello Hilal
Result: 35
Hi Hilal, you are 35 years old!

In [2]:
#method3: Tripple quotes

text = '''
Hi! my name is Hilal

What's your name ?
        '''

print(text)

Hi! my name is Hilal

What's your name ?

In [5]:
text = '''
Hi! my name is Hilal




What's your name ?
        '''

print(text)

Hi! my name is Hilal




What's your name ?

# 2- Substrings

In [16]:
name = 'Selma Hadzic'

In [17]:
name[2]

'l'

In [7]:
name[5]

' '

In [ ]:
name[12]

In [11]:
name[0:4]

'Selm'

In [12]:
name[3:4]

'm'

In [8]:
name[0:3]

'Sel'

In [9]:
name[:3]

'Sel'

In [13]:
name[-4]

'd'

In [14]:
name[-1]

'c'

In [15]:
name[-1:-4]

''

In [ ]:
name[-4:-1]

In [23]:
name[0:-7]

'Selma'

# 3- String Methods

In [24]:
name = ' Manipulating Strings n '

In [25]:
name.upper()

' MANIPULATING STRINGS N '

In [26]:
name

' Manipulating Strings n '

In [27]:
name =name.upper()

In [28]:
name

' MANIPULATING STRINGS N '

In [29]:
name.lower()

' manipulating strings n '

In [30]:
name

' MANIPULATING STRINGS N '

In [31]:
name=name.lower()

In [32]:
name

' manipulating strings n '

In [35]:
# removing white space
#name.strip()
#name.rstrip()
name.lstrip()

'manipulating strings n '

In [36]:
#If I want to capitalize every first letter of all the words?
name.title()

' Manipulating Strings N '

In [37]:
name.split()

['manipulating', 'strings', 'n']

Some characters in Python require special attention:

- \n - Newline character
- \t - Tabulator
- \" - literal double quote
- \\ - Normal, single backslash

Example: print("Hello! What\'s up? How are you?\nI\'m doing fine.")

In [38]:
print('Hello! What\'s up? How are you?\nI\'m doing fine.')

Hello! What's up? How are you?
I'm doing fine.

In [43]:
print("Hello! What's up? How are you?\nI\'m doing fine.")

Hello! What's up? How are you?
I'm doing fine.

In [40]:
print('Hello! What's up? How are you?\nI\'m doing fine.')

Hello! What's up? How are you?
I'm doing fine.

# 4- Input function

The programmer can get information from the user with the input() function. This function asks the user to enter a value. Beware that any data from the input function will be saved as a string. So if in order to transform the data to an integer use int(). Here is an example:

In [44]:
who = input('What is your name? ')
print(f'Hello {who}, welcome')

What is your name?  SUCC

Hello SUCC, welcome

In [48]:
age = input("How old are you?")

age_new=age+2
print(f'2 years later  you will be {age_new}')

How old are you? 10

TypeError: can only concatenate str (not "int") to str

In [47]:
age = int(input("How old are you?"))

age_new=age+2
print(f'2 years later  you will be {age_new}')

How old are you? 10

2 years later  you will be 12

In [46]:
temp = input('What is the temperature today? ')
print(f'Uhm, today is {temp} degrees')

What is the temperature today?  37

Uhm, today is 37 degrees